<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h2>Login Form</h2>
    <form action="/login" method="post">
        Email <input type="email" placeholder="email" name="email" required> <br><br>
        Password <input type="password" placeholder="password" name="password"> <br><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>